.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.dbchaveJsonFirebaseFirestore.json
*.json
chaveJsonFirebaseFirestore.json
projetoiara-d1b26-firebase-adminsdk-fbsvc-2a03be9977.json
chaveJsonFirebaseFirestore.json
projetoiara-d1b26-firebase-adminsdk-fbsvc-2a03be9977.json
