@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poiret+One&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300&family=Poiret+One&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* aqui comeca o css f */
.inputLogin,.inputPassword {
  top: -360px;
  position: relative;
  display: grid;
  color: #000000;
  background-color: #ffffff ;
  box-shadow: none ;
  width: 390px;
  height: 40px;
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 35px;
  text-align: center left;
  padding: 20px;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
    box-shadow: 2px 2px 2px #302e2e;
}
.btnLogin{
  position: relative;
  top: -355px;
  background-color: #e25300;
  border-radius: 35px;
  width: 390px;
  height: 47px;
  font-size: 17px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.btnLogin:hover{
  background-color: #c74d07;
}

.logoiara{
  top: -195px;
  position: relative;
  height: 690px;
  width: 410px;
   margin-left: 0%;
}
.titleolaLogin{
  font-size: 3em;
  display: -ms-inline-grid;
  position: relative;
  color: aqua;
  padding: 0%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.titlebemvindoLogin{
  display: -ms-inline-grid;
  font-size: 2.5em;
  top: -10px;
  position: relative;
  color: aqua;
  padding: 0%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.titleiaraLogin{
  display: -ms-inline-grid;
  position: relative;
  top: -10px;
  color: aqua;
  padding: 0%;
  top: 10;
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
}
#aIARA{
  color: aqua;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

.anjosDigitais{
  position: relative;
  bottom: 295px;
  right: 0%;
  height: 80px;
  width: 200px;
  
}    
   
