@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300&family=Poiret+One&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
}


.logoIaraMenu{
  position: relative;
  height: auto;
  width: 27%;
  margin-left: 0%;
  top: -14em;
}

.estruturaInferior {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* 50% da altura da tela */
  background-color: rgba(226, 223, 222, 0.938) !important;
  z-index: 1;
}

.cardEmpreender{
    position: relative;
    top: -15%;
    background-color: aliceblue;
    
    margin-left: 31.5%;
    max-width: 30%;
    width: 18%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  #7c7272;
}
.cardEmpreender:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #ffffff;
}


.cardSala{
    position: relative;
    top: -55%;
    background-color: aliceblue;
    margin-left: 50.5%;
    max-width: 30%;
    height: 40%;
    width: 18%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #7c7272;

}
.cardSala:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #ffffff;
}


.cardPraticas{
    position: relative;
    background-color: aliceblue;
    margin-left: 31.5%;
    top: -50%;
    background-color: aliceblue;
    max-width: 30%;
    height: 40%;
    width: 18%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #7c7272;

}

.cardPraticas:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #ffffff;
}
.cardDicas{
        position: relative;
    background-color: aliceblue;
    margin-left: 50.5%;
    top: -90%;
    background-color: aliceblue;
    max-width: 30%;
    height: 40%;
    width: 18%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #7c7272;
}

.cardDicas:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #ffffff;
}
    
.btnVoltar {
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  z-index: 1000;

  background: transparent;
  border: 2px solid #db8008;
  color: #cc7817;

  padding: 0.5rem 1rem;
  border-radius: 999px;

  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 0.95rem;

  cursor: pointer;
  transition: all 0.2s ease;
}
.btnVoltar:hover {
  background-color: #d85c19;
  color: #ffffff;
}
.fa-regular ,.fa-lightbulb{
  color: #ff7300;
  font-size: 8vh;
  margin-top: 9%;
}
.tituloCardSala{
  color: #440d72;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 2vh;
  margin: 5%;
}


.bi, .bi-chat-left-text{
  color: #ff7300;
  width: 6vh;
  font-size: 5vh;
  margin-top: 12%;
}

.textoCardchat{
    color: #440d72;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 2vh;
  margin: 5%;
}
 
.imgCardempreender{
  width: 18vh;
  margin-top: 2%;
}
.textoEmpreender{
    color: #440d72;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 2.1vh;
  margin-top: -3%;
}

.fa-solid,.fa-book{
  color: #ff7300;
  font-size: 6vh;
  margin-top: 12%;
}

.textoSalaAula{
    color: #440d72;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 2vh;
  margin: 5%;
}