@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300&family=Poiret+One&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== CONTAINER ===== */
.chat-container {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  width: 90vh;
  height: 100vh;
  background: rgba(255, 255, 255, 0.966);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

/* ===== ÁREA DE MENSAGENS (COM SCROLL) ===== */
.chat-mensagens {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-y: auto;
  scroll-behavior: smooth;
}

/* ===== MENSAGEM BASE ===== */
.mensagem {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 15px;
  line-height: 1.4;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* ===== RECEBIDA ===== */
.mensagem.recebida {
  background-color: #e95e0e;
  color: white;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 2px #7c7272;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.mensagem.recebida:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #d0540c;
}

/* ===== ENVIADA ===== */
.mensagem.enviada {
  background-color: #7948c4;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 2px 2px #7c7272;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.mensagem.enviada:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #b887ff;
}

/* ===== INPUT ===== */
.chat-input {
  display: flex;
  padding: 12px;
  background-color: #ffffff;
  border-top: 1px solid #977d7d;
  gap: 10px;

  position: sticky;
  bottom: 0;
  z-index: 10;
}

.chat-input input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  background-color: #c9b7b7fd;
  color: #000000;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.chat-input input:focus {
  border-color: #7300ff;
}

/* ===== BOTÃO ===== */
.chat-input button {
  background-color: #9b5de5;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.chat-input button:hover {
  transform: scale(1.03);
  transition: transform 0.7s;
  background-color: #7b3fe4;
}
.btnVoltar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  background: transparent;
  border: 2px solid #f08800;
  color: #fc8f00;

  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.btnVoltar:hover {
  background-color: #ff6600;
  color: white;
  transform: scale(1.05);
  transition: 0.3s;
}
