@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300&family=Poiret+One&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
.conteudoindex{
  display: grid;
  flex-direction: column;
  margin: -100px;
    
}

/* Título */
.tituloindex {
 font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.9em;
  color: #fff;
  margin-bottom: -300px;
  margin-top: 80px;
  
}

/* A imagem */

.logoiaraindex {  
  position: relative;
  left: -1px;
  top: -3%;
  width: 500px;
  height: 850px;
}


/* Botão */
.btnEntrar {
  background-color: #e25300;
  position: relative;
  top: -420%;
  left: 28%;
  border-radius: 35px;
  width: 225px;
  height: 47px;
  font-size: 17px;
  text-align: center;
   font-family: "Quicksand", sans-serif;
  
}

.btnEntrar:hover {
  background-color: #c74d07;
}

.anjosDigitais1{
  position: relative;
  bottom: 135px;
  left: 31%;
  height: 80px;
  width: 200px;
   
}